.DS_Store
*.sln
*.userprefs
*.csproj
*.pidb
*.unitypackage
*.apk
*.exe
*.exr
*.exr.meta
*.blend1
*.blend1.meta
LightingData.asset
LightingData.asset.meta
Assets/CurvedUI/
Assets/CurvedUI.meta
.vs/
Build/
Library/
obj/
demo_Data/
Library/ShaderCache/
Temp/
*.pdb
Assets/Stagit/
Assets/Stagit.meta
*.ogg
*.ogg.meta
